<div class="row">
  <div class="col-md-5">
    <app-recipe-list (detailedRecipe)="detailedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail *ngIf="detailedRecipe" [currentRecipe]="detailedRecipe"></app-recipe-detail>
  </div>
</div>
