<app-header (sectionChanged)="onSectionChanged($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="currentSection == 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="currentSection == 'shoppingList'"></app-shopping-list>
    </div>
  </div>
</div>
