<a
  href="#"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ item.name }}</h4>
    <p class="list-group-item-text">{{ item.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="item.imagePath"
          alt="{{ item.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
