<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item class="list-group-item"
      *ngFor="let recipe of recipes"
      [item]="recipe" (click)="onRecipeSelect(recipe)"></app-recipe-item>
  </div>
</div>

